<ul class="sixcol <%= 'last' if season_counter+1 == seasons_in_row %>">
  <li class="season">
    <h2>
      <%= season.index %> сезон
      <%= render_new_episode_in_season_button(season) %>
      <%= render_destroy_season_button(season) %>
    </h2>
    <br/>
    
    <% if season.episodes.count > 0 %>
      <ul class="episodes">      
        <%= render :partial => "episode", 
            :collection => season.episodes, 
            :locals => {
              :season => season
            } %>
      </ul>
      <br/>
    <% end %>
  </li>
</ul>
