<div id="serials_grid">
  <div class="row">
    <%= link_to("Добавить сериал", new_serial_path) %>    
  </div>

  <% Serial.all.to_a.in_groups_of(4, false) do |group| %>
    <ul class="row">
      <% group.each_with_index do |serial, col_index| %>
        <li class="threecol <%= 'last' if (col_index+1) == group.length %>">
          <a href="<%= serial_path(serial) %>">
            <strong><%= serial.title %></strong>
            <em><%= serial.original_title %></em>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
