<h1><%= @serial.title %></h1>

<p><%= @serial.description %></p>

<img id="poster" src="<%= @serial.poster.url %>" class="serial"/>

<div id="serial-seasons">
  <% @serial.seasons.each do |season| %>
    <ul>
      <li class="season">
        <h2><%= season.index %> сезон</h2>

        <ul class="episodes">
          <% season.episodes.each do |episode| %>
            <li><%= episode.index %> эпизод</li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
