<div class="row">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'large'}) do |f| %>
    <div class="inner">
      <h1>
        Анонимус детектед

        <span>
          <%= link_to 'Забыли пароль?', new_user_password_path %>
        </span>
      </h1>

      <div class="field_wrap"><%= f.label :login, "Логин или email" %>
        <%= f.email_field :login, :tabindex => "1" %></div>

      <div class="field_wrap"><%= f.label :password, 'Пароль' %>
        <%= f.password_field :password, :tabindex => "2" %></div>

      <div class="field_wrap">
        <%= f.submit "Войти", :tabindex => "4"  %>

        <%= f.check_box :remember_me, :tabindex => "3" %> <%= f.label :remember_me, 'Запомнить меня' %>
      </div>
    </div>
  <% end %>
</div>
