<% content_for(:menu) do %>
  <a href="<%= serial_path(@serial) %>">Страница сериала "<%= @serial.title %>"</a> | <a href="<%= root_path %>">Список всех сериалов</a>
<% end %>
<div id="episode" class="row">
  <script src="/video-js-2.0.1/video.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript">
    VideoJS.setupAllWhenReady();
  </script>

  <!-- Include the VideoJS Stylesheet -->
  <link rel="stylesheet" href="/video-js-2.0.1/video-js.css" type="text/css" media="screen" title="Video JS"/>
  <link rel="stylesheet" href="/video-js-2.0.1/skins/vim.css" type="text/css" media="screen" title="Video JS"/>

  <h1><%= @serial.title %> (<em><%= @serial.alt_title %></em>)</h1>
  <h3><%= @season.index %> сезон, <%= @episode.index %> эпизод</h3>

  <div class="video-js-box vim-css">
    <video id="player" class="video-js" width="700" height="400" controls="controls">
      <source src="<%= repository_path(:path => @episode.webm_path) %>" type='video/webm; codecs="vp8, vorbis"' />
      <source src="<%= repository_path(:path => @episode.mp4_path) %>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
  </div>

  <div class="row nav">
    <div class="sixcol">
      <% unless @episode.first? %>
        <%= link_to("← Предыдущий эпизод", serial_episode_path(:episode_index => @episode.previous.index)) %>
      <% else %>
        ← Предыдущий эпизод
      <% end %>
    </div>

    <div class="sixcol last">
      <% unless @episode.last? %>
        <%= link_to("Следующий эпизод →", serial_episode_path(:episode_index => @episode.next.index)) %>
      <% else %>
        Слудущий эпизод →
      <% end %>
    </div>
  </div>
</div>
