<h2>Регистрация по приглашению</h2>

<%= form_for @user, :url => invitation_path('user'), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <p><%= f.label :name, 'Ваше имя' %>
  <%= f.text_field :name %></p>

  <p><%= f.label :email, 'Ваша электропочта' %>
  <%= f.text_field :email %></p>

  <p><%= f.label :password, 'Пароль' %><br />
  <%= f.password_field :password %></p>

  <p><%= f.submit "Зарегистрироваться" %></p>
<% end %>
