<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <title>Zomber.tv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- The 1140px Grid -->
    <link rel="stylesheet" href="/stylesheets/1140.css" type="text/css" media="screen" />
    
    <!-- Type and image presets - NOT ESSENTIAL -->
    <link rel="stylesheet" href="/stylesheets/typeimg.css" type="text/css" media="screen" />
    <!-- Make minor type adjustments for 1024 monitors -->
    <link rel="stylesheet" href="/stylesheets/smallerscreen.css" media="only screen and (max-width: 1023px)" />
    <!-- Resets grid for mobile -->
    <link rel="stylesheet" href="/stylesheets/mobile.css" media="handheld, only screen and (max-width: 767px)" />
    <!-- Put your layout here -->
    <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />

    <%= stylesheet_link_tag 'serial' %>
    <%= csrf_meta_tag %>
  </head>

  <body class="light">
    <div class="container">
      <div id="header" class="row">
        <%= render_logo %>
      </div>
      
      <%= render_messages unless flash.empty? %>

      <%= yield %>

      <%= render_footer %>
    </div>  

    <%= render_yandex_metrics %>
  </body>
</html>
